html {
  margin-top: 0 !important; }

body {
  background: white;
  font-family: "aileron", sans-serif;
  color: black;
  overflow-x: hidden; }

.container {
  max-width: 100%;
  overflow-x: hidden; }
  @media (min-width: 768px) {
    .container {
      max-width: 1000px; } }

section {
  position: relative; }

h1 {
  font-size: 60px; }

h2 {
  font-family: 'aileron', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 40px;
  letter-spacing: 2px; }

h3 {
  font-family: 'aileron', sans-serif;
  font-weight: 300;
  font-size: 34px; }

h4 {
  font-family: 'aileron', sans-serif;
  font-weight: 300;
  font-size: 26px;
  line-height: 34px; }

h5 {
  font-family: 'aileron', sans-serif;
  font-weight: 400;
  font-size: 22px; }

h6 {
  font-family: 'aileron', sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase; }

a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 14px; }
  a.link {
    color: black;
    transition: .2s ease; }
    a.link:hover {
      color: #404040;
      text-decoration: none; }
    a.link img {
      height: 20px;
      padding-left: 10px;
      transform: translateY(-5px); }

.btn {
  font-family: "aileron", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 14px;
  letter-spacing: 1.4px;
  background-color: black;
  color: white;
  padding: 12px 20px;
  line-height: 14px;
  border-radius: 2px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: .2s ease; }
  @media (min-width: 768px) {
    .btn {
      font-size: 13px; } }
  .btn:hover {
    background-color: white;
    color: black;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); }
  .btn__book {
    position: absolute;
    z-index: 2;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    width: 300px;
    transform: translateY(50%); }

p {
  font-family: 'aileron', sans-serif;
  font-size: 16px; }
  p a {
    font-family: "aileron", sans-serif;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    background-color: none;
    color: #404040;
    border-bottom: 2px solid #404040;
    transition: .2s ease; }
    @media (min-width: 768px) {
      p a {
        font-size: 13px; } }
    p a:hover {
      text-decoration: none;
      color: #404040; }

nav {
  position: fixed;
  z-index: 20000;
  width: 100%;
  background: transparent;
  padding: 20px;
  margin: 0 auto;
  transition: .2s ease; }
  @media (min-width: 992px) {
    nav {
      padding: 15px; } }
  @media (min-width: 992px) {
    nav {
      border-bottom: 0; } }
  .scrolled nav {
    padding: 15px 40px;
    background-color: black; }
  nav ul {
    position: absolute;
    top: 20px;
    right: 40px;
    margin: 0; }
  nav li {
    display: inline-block;
    list-style-type: none; }
  nav a {
    font-family: "aileron", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    padding: 0 15px;
    transition: color .2s ease; }
    nav a:hover {
      color: black;
      text-decoration: none; }
  nav .icon {
    position: absolute;
    left: 0;
    opacity: 1;
    transition: .2s ease; }
    @media (min-width: 768px) {
      nav .icon {
        left: 30px; } }
    @media (min-width: 992px) {
      nav .icon {
        opacity: 0; } }
    .scrolled nav .icon {
      opacity: 1; }
  nav img {
    height: 30px;
    opacity: 0; }
    .scrolled nav img {
      opacity: 1; }

.hero {
  position: relative;
  height: 80vh;
  overflow: hidden; }
  @media (min-width: 992px) {
    .hero {
      min-height: 300px; } }
  .hero__content {
    position: absolute;
    z-index: 3;
    bottom: 8%;
    right: 0;
    left: 0;
    width: 90%;
    margin: 0 auto;
    color: white;
    text-align: center; }
  .hero h2 {
    font-family: "elina", sans-serif;
    line-height: 60px; }
  .hero a {
    position: absolute;
    z-index: 2;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    max-width: 400px;
    transform: translateY(50%); }

.overlay__hero {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); }

video {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%; }
  @media (min-width: 992px) {
    video {
      width: 100%;
      height: auto; } }

.services img {
  max-width: 200px; }

.service__image {
  height: 180px;
  margin-bottom: 15px; }
  @media (min-width: 768px) {
    .service__image {
      height: 300px; } }
  .service__image div {
    border-radius: 0; }
    @media (min-width: 768px) {
      .service__image div {
        border-radius: 20px 0 0 40px; } }

.service__description {
  background: #F2F2F2;
  padding: 20px 30px;
  border-bottom: 3px solid #404040; }
  @media (min-width: 768px) {
    .service__description {
      position: absolute;
      top: 50%;
      left: -30px;
      transform: translateY(-50%); } }

.team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 100vh; }
  @media (min-width: 768px) {
    .team {
      flex-direction: row;
      min-height: 50vh; } }

.person {
  width: 35%;
  margin-bottom: 30px;
  transform: translateY(0);
  transition: .2s ease; }
  @media (min-width: 768px) {
    .person {
      width: 24%; } }
  @media (min-width: 992px) {
    .person {
      width: 24%; } }
  .person__image {
    position: relative;
    height: 130px;
    width: 130px;
    border-radius: 100%;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .person__image {
        height: 170px;
        width: 170px; } }
    @media (min-width: 992px) {
      .person__image {
        height: 200px;
        width: 200px; } }
    .person__image div {
      border-radius: 100%; }
  .person__name {
    padding: 15px 10px;
    text-align: center; }
  .person h6 {
    margin: 0;
    color: black; }
  .person:hover {
    text-decoration: none;
    transform: translateY(-5px);
    cursor: pointer; }

.gift-card {
  padding: 120px 0 50px; }
  @media (min-width: 992px) {
    .gift-card {
      padding: 200px 0 100px; } }
  .gift-card .abs-fill {
    height: 30%; }
  @media (min-width: 992px) {
    .gift-card .btn {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%); } }

footer {
  background: black;
  color: white; }

.products {
  background-color: rgba(186, 181, 177, 0.1);
  border-right: 2px solid black;
  border-left: 2px solid black; }
  .products img {
    width: 150px; }

.fts-jal-fb-group-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }

.fts-jal-single-fb-post {
  width: 45%; }

.fts-jal-fb-user-thumb,
.fts-jal-fb-user-name,
.fts-powered-by-text,
.fts-jal-fb-header {
  display: none !important;
  opacity: 0; }

.modal {
  position: fixed;
  display: none;
  z-index: -3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  content: ""; }
  .modal.open {
    display: block;
    z-index: 3; }
  .modal .modal-content {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 82%;
    height: auto;
    max-height: 70vh;
    margin: 0 auto;
    background-color: white;
    border: 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 0;
    transform: translateY(-50%);
    overflow-y: scroll; }
    @media (min-width: 768px) {
      .modal .modal-content {
        width: 70%; } }
    .modal .modal-content__text {
      padding: 50px 20px; }
      @media (min-width: 768px) {
        .modal .modal-content__text {
          padding: 100px 70px; } }
  .modal .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
    background-color: white;
    opacity: 1; }
  .modal .cross {
    position: relative;
    width: 35px;
    height: 35px; }
    .modal .cross::after, .modal .cross::before {
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      width: 25px;
      height: 2px;
      margin: 0 auto;
      background-color: black;
      border-radius: 3px;
      content: "";
      transform: translateY(-50%); }
    .modal .cross::after {
      transform: rotate(45deg);
      transform-origin: 50%; }
    .modal .cross::before {
      transform: rotate(-45deg);
      transform-origin: 50%; }
  .modal__bio--image {
    position: relative;
    width: 150px;
    height: 150px; }
    @media (min-width: 992px) {
      .modal__bio--image {
        width: 300px;
        height: 300px; } }
  .modal__bio h3 {
    padding-top: 10px; }
    @media (min-width: 768px) {
      .modal__bio h3 {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        padding-top: 0;
        text-align: center;
        transform: translateY(-50%); } }
  .modal__bio p {
    padding-top: 20px; }

.filter-list {
  padding: 0;
  margin-bottom: 4rem; }
  .filter-list li {
    display: block;
    margin: 20px 20px;
    padding: 0 10px;
    font-size: 18px;
    text-align: left; }
    @media (min-width: 768px) {
      .filter-list li {
        display: inline-block;
        margin: 0;
        margin-right: 10px; } }
    .filter-list li.active {
      background-color: #F2F2F2;
      border-bottom: 2px solid black; }
  .filter-list li[data-type] {
    transition: .2s ease;
    cursor: pointer; }
    .filter-list li[data-type]:hover {
      transform: translateY(-2px); }

.bg__offwhite {
  background-color: #F2F2F2; }

.bg__dark {
  background-color: #404040; }

.abs-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.bg-overlay {
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.2); }

.relative {
  position: relative; }

.text-center {
  text-align: center; }

.pad__sm {
  padding-top: 50px;
  padding-bottom: 50px; }

.pad__med {
  padding-top: 100px;
  padding-bottom: 100px; }

.pad__lg {
  padding-top: 200px;
  padding-bottom: 200px; }

@media (min-width: 768px) {
  .sm-scn {
    display: none; } }

.med-scn {
  display: none; }
  @media (min-width: 768px) {
    .med-scn {
      display: initial; } }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #A6A6A6;
  font-family: "aileron", sans-serif; }
