html {
  margin-top: 0 !important; }

body {
  background: white;
  overflow-x: hidden; }

.container {
  max-width: 100%;
  overflow-x: hidden; }
  @media (min-width: 768px) {
    .container {
      max-width: 1000px; } }

@media (min-width: 768px) {
  .sm-scn {
    display: none; } }

.med-scn {
  display: none; }
  @media (min-width: 768px) {
    .med-scn {
      display: initial; } }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #A6A6A6; }
